# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Joe\OneDrive - Waterford Institute of Technology\MM Year 4 Semester 1\Mobile App Dev\Assignment 1 - Joe Lynch\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
